* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    height: 100vh;
}
.start {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20vh;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 345px;
    height: 72px;

    font-weight: 700;
    font-size: 20px;

    background: none;
    border: 3px solid #FFEF61;
    border-radius: 12px;

    gap: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
}

.flashcard {
    width: 392px;
    height: 575.75px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px 0px #0000001F;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 19px;

    font-size: 18px;
}

.flashcard img {
    height: 39.81px;
    width: 35.21px;
    object-fit: contain;
}
.flashcard p {
    align-self: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.back {
    position: relative;
}
.back p:first-of-type {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 19px;
}
.back p {
    font-size: 16px;
    font-weight: 400;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16.67px;
    
}
.buttons button {
    width: 65px;
    height: 48px;
    font-size: 10px;
    font-weight: 400;
}

.black {
    border: 3px solid black;
}
.red {
    border: 3px solid #F64848;
}
.green {
    border: 3px solid #62DB38;
}
.yellow {
    border: 3px solid #FFEF61;
}

.end-game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-game :first-child {
    font-size: 36px;
    font-weight: 700;
}
.end-game :last-child {
    font-size: 22px;
    font-weight: 400;
}